@import "tailwindcss";

/* Base light theme variables */
:root {
  /* Body */
  --background: linear-gradient(135deg, #ffffff 0%, #f7d6ff 100%);
  --foreground: #D9EAFD;
  
  --primary-text-color: #000000;

  /* nav */
  --nav-bgc: #000000;
  --nav-tc: #ffffff;

  /* card */
  --card-bgc: #ffffff;
  --card-tc: #000000;
  --card-bc: #000000;
  
  /* card-fixed */
  --card-bgc-fixed: #D9EAFD;
  --card-tc-fixed: #000000;

  /* icon */
  --icon-bgc: #012e51ab;
  --icon-color: #ffffff;

  /* skill */
  --skill-foreground: #D9EAFD;
  --skill-text-color: #000000;

  --font-sans: 'var(--font-geist-sans)';
  --font-mono: 'var(--font-geist-mono)';
}

/* Dark theme overrides when `.dark` class is applied */
.dark {
  /* body */
  --background: linear-gradient(135deg, #1b1b1b 0%, #000000 100%);
  --foreground: #373b41;
  --primary-accent-color: #D2C1B6; /* lines */
  --primary-text-color: #F9F3EF;

  /* nav */
  --nav-bgc: #161a1e;
  --nav-tc: #ECFAE5;

  /* card */
  --card-bgc: #161a1e;
  --card-tc: #ffffff;
  --card-bc: #ffffff;

  /* card-fixed */
  --card-bgc-fixed: #D9EAFD;
  --card-tc-fixed: #000000;

  /* icon */
  --icon-bgc: #144272;
  --icon-color: #ffffff;

  /* skill */
  --skill-foreground: #D9EAFD;
  --skill-text-color: #000000;

}

/* Apply the variables */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.2s ease;
}
